:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-mint: #b2dfdb;
  --color-dark-pink: #ff6863;
  --color-dark-mint: #82ada9;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-mint: #e5ffff;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation duration */
  --animation--duration: 300ms;
}

/* Universial tags */
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Oleo Script', cursive;
}

body {
  margin: 0;
  min-width: 330px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  color: var(--color-white);
  transition: all var(--animation--duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  padding: 8px;
  background-color: var(--color-mint);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__icon {
  width: 37px;
  height: 37px;
  margin-right: 8px;
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-mint);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: center/cover no-repeat url('./imgs/profile_background.png');
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-mint);
}

/* Section common */
.section {
  margin: auto;
  padding: 40px;
  padding-top: 40px;
  text-align: center;
}

.section__container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

/* About */
#about {
  background-image: url('./imgs/aboutme/background-sharing.png'),
    url('./imgs/aboutme/background-chemistry.png');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40%, 40%;
  z-index: 0;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  margin: auto;
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation--duration) ease;
}

.major__icon :hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__title {
  font-weight: var(--weight-semi-bold);
}

.major__description {
  font-size: var(--font-small);
}

.about__jobs {
  display: flex;
  flex-direction: column;
}

.job {
  display: flex;
  align-items: center;
  padding: 8px;
}

.job__logo {
  border-radius: var(--size-border-radius);
}

.job__description {
  text-align: left;
  margin-left: 16px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  background-color: var(--color-light-grey);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__left {
  padding: 20px 40px;
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-dark-mint);
  color: var(--color-white);
}

.category__btn:hover .category__count {
  opacity: 1;
  top: 4px;
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: var(--color-white);
  position: absolute;
  top: 16px;
  right: 8px;
  opacity: 0;
  transition: all var(--animation--duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation--duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
}

.project {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all var(--animation--duration) ease-in;
  transform: translateY(10px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  align-items: center;
  margin: 32px 0;
}

.testimonial__avater {
  width: 160px;
  height: 160px;
  border: 2px solid var(--color-pink);
  border-radius: 50%;
}

.testimonial__avater:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avater:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__quote {
  position: absolute;
  left: 55px;
  top: -8px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-dark-mint);
}

/* Contact */
#contact {
  background-color: var(--color-mint);
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation--duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
}

#gotoTopBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  font-size: 25px;
  color: var(--color-white);
  background-color: var(--color-pink);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation--duration) ease-in;
}

#gotoTopBtn.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Font size in mediaquery*/
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  #navbar {
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-mint);
  }

  #navbar.navbar--dark {
    padding: 6px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
    margin: 32px 0 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .major__icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
  }

  .job__logo {
    width: 60px;
    border-radius: var(--size-border-radius);
  }

  #about {
    background-image: none;
  }

  .skillset {
    flex-direction: column;
  }

  .skill__badges {
    display: block;
  }

  .category__btn {
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial:nth-child(odd) {
    flex-direction: column;
  }
  .testimonial:nth-child(even) {
    flex-direction: column-reverse;
  }

  .testimonial__quote {
    width: 50px;
  }

  .testimonial__avater {
    width: 100px;
    height: 100px;
  }

  .testimonial__avater:nth-child(odd),
  .testimonial__avater:nth-child(even) {
    margin: 0;
    margin-bottom: 8px;
  }

  #gotoTopBtn {
    bottom: 16px;
    right: 16px;
    width: 35px;
    height: 35px;
    font-size: 21px;
  }
}
